body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #363636;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*Container*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*Intro*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../img/intro.jpg");
	background-size: cover;
}

.intro__inner {
	text-align: center;
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
}

.intro__title {
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}

.intro__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 60px auto;
	background-color: #fff;
}

/*Header*/
.header {
	width: 100%;
	position: absolute;
	padding-top: 30px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.intro__suptitle {
	font-size: 72px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-bottom: 20px;
}

/*NAV*/
.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
	transition: color .2s linear;
}

.nav__link:after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 3px;
	background-color: #f5e28e;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transform: opacity .2s linear;
}

.nav__link:hover {
	color: #f5e28e;
}

.nav__link:hover:after {
	opacity: 1;
}

/*Buttons*/

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: background .1s linear, color .1s linear;
}

.btn:hover {
	background-color: #fff;
	color: #333;
}