body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #363636;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	margin: 40px 0;
	border: 0;
	background-color: #e5e5e5;
}

/*Container*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*Intro*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../img/intro.jpg");
	background-size: cover;
}

.intro__inner {
	text-align: center;
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
}

.intro__title {
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}

.intro__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 60px auto;
	background-color: #fff;
}

.intro__suptitle {
	font-size: 72px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-bottom: 20px;
}

/*Header*/
.header {
	width: 100%;
	position: absolute;
	padding-top: 30px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

/*NAV*/
.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
	transition: color .2s linear;
}

.nav__link:after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 3px;
	background-color: #f5e28e;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transform: opacity .2s linear;
}

.nav__link:hover {
	color: #f5e28e;
}

.nav__link:hover:after,
.nav__link.active:after {
	opacity: 1;
}

.nav__link.active {
	color: #f5e28e;
}
/*Buttons*/

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: background .1s linear, color .1s linear;
}

.btn:hover {
	background-color: #fff;
	color: #333;
}

/* Slider */

.slider {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.slider__inner {
	display: flex;
	justify-content: space-between;
}

.slider__item {
	position: relative;
	width: 23%;
	padding: 20px 0;
	border-top: 3px solid #fff;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	opacity: 0.7;
}

.slider__item.active {
	opacity: 1;
}

.slider__item.active:before {
	content: "";
	background-color: #f38181;
	display: block;
	width: 70px;
	height: 4px;
	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
}

.slider__number {
	font-size: 24px;
	font-weight: 700;
}

/* Section */
.section {
	padding: 80px 0;
}

.section--devices {
	padding-bottom: 0;
	background: url("../img/design/bg.jpg") 
			    center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
	text-align: center;
}

.section__suptitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;
}

.section__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto 30px;
	background-color: #f38181;
}

.section__text {
	color: #999;
	font-size: 15px;
}

/* About */

.about {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.about__item {
	position: relative;
	width: 380px;
	background-color: #95e1d3;
}

.about__item:hover .about__text {
	opacity: 1;
}

.about__item:hover .about__img {
	transform: translate3d(-10px, -10px, 0);	
}

.about__item:hover .about__img img {
	opacity: .1;	
}

.about__img {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform .1s linear;
}

.about__img img {
	display: block;
	transition: opacity .1s linear;
}

.about__text {
	width: 100%;
	font-size: 18px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);
	opacity: 0;
	transition: opacity .2s linear;
}

/* Statistics */

.statistics {
	background-color: #95e1d3;
}

.stat {
	display: flex;
}

.stat__item {
	flex: 1 1 0;
	text-align: center;
	border-left: 1px solid #b5eae0;
	color: #fff;
	padding: 70px 25px;
}

.stat__item:last-child {
	border-right: 1px solid #b5eae0; 
}

.stat__count {
	margin-bottom: 10px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}

.stat__text {
	font-size: 14px;
	text-transform: uppercase;
}

/* Services */

.services {
	display: flex;
}

.services__item {
	flex: 1 1 0;
	padding-left: 85px;
	position: relative;
	padding-right: 35px;
}

.services__icon {
	position: absolute;
	top: 0;
	left: 25px;
	z-index: 1;
}

.services__title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.services__text {
	color: #999;
	font-size: 15px;	
} 

/* Devices */
.devices {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.devices__item {
	display: block;
}

.devices__item--iphone {
	position: absolute;
	bottom: -80px;
	right: 0;
	z-index: 1;
}